@using System.Web.Optimization
@{
    ViewBag.Title = "Password Recovery";
}
@Styles.Render("~/Content/css")
<body>
    <div class="auth-right">
        <div class="auth-form-container">
            <div class="auth-header">
                <h1>Password Recovery</h1>
                <p>Enter your email to receive reset instructions</p>
            </div>
            <form id="forgot-password-form">
                <div class="input-group">
                    <input type="email" placeholder="Email address" required>
                </div>
                <button type="submit" class="submit-button">Send Reset Link</button>
                <div class="back-link">
                    <a href="@Url.Action("SignIn", "Auth")" onclick="showPage('login')">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</body>

