@using System.Web.Optimization
@{
    ViewBag.Title = "Sign In";
}
@Styles.Render("~/Content/css")
 

<body>
    <div class="auth-right">
        <div class="auth-form-container">
            <div class="auth-header">
                <h1>Sign In</h1>
                <p>Please enter your details to login</p>
            </div>
            
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            
            <form id="login-form">
                <div class="input-group">
                    <input type="email" placeholder="Email address" required>
                </div>
                <div class="input-group">
                    <input type="password" id="login-password" placeholder="Password" required>
                    <span class="password-toggle" onclick="togglePassword('login-password')">Show</span>
                </div>
                <button type="submit" class="submit-button">Sign in</button>
                <div class="back-link">
                    <a href="@Url.Action("ForgotPass", "Auth")" onclick="showPage('forgot-password')">Forgot password?</a>
                    <br><br>
                    Don't have an account? <a href="@Url.Action("SignUp", "Auth")" onclick="showPage('signup')">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</body>