@using System.Web.Optimization
@{
    ViewBag.Title = "_Footer";
}

<footer>
    <div class="footer-links">
        <a href="@Url.Action("AboutUs", "Main")">About Us</a>
        <a href="@Url.Action("ContactUs", "Main")">Contact Us</a>
        <a href="@Url.Action("Terms", "Main")">Terms of Service</a>
        <a href="@Url.Action("Privacy", "Main")">Privacy Policy</a>
    </div>
    <div class="footer-actions">
        <button class="footer-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="2" x2="22" y1="12" y2="12"></line>
                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
            </svg>
            English
        </button>
        <button class="footer-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon">
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
            </svg>
            Dark Mode
        </button>
    </div>
    <div class="footer-copyright">
        <p>&copy; 2025 taskore. All rights reserved.</p>
    </div>
</footer>

