@using System.Web.Optimization
@{
    ViewBag.Title = "_Header";
}
@Styles.Render("~/Content/css")

<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="/api/placeholder/50/50" alt="">
        </div>
        <nav class="nav-menu">
            <a href="">Explore</a>
            <a href="@Url.Action("SignUp", "Auth")">Projects</a>
            <a href="@Url.Action("SignUp", "Auth")">Freelancers</a>
           
        </nav>
        <div class="header-actions">
            <a href="@Url.Action("SignUp", "Auth")" class="header-cta">Get Started</a>
        </div>
    </div>
</header>