@using System.Web.Optimization
@{
    ViewBag.Title = "_Header";
}

@Styles.Render("~/Content/css")

<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="/api/placeholder/50/50" alt="Taskore Logo">
        </div>
        <nav class="nav-menu">
            <a href="@Url.Action("Index", "Main")">Explore</a>
            <a href="@Url.Action("ExplorePage", "Main")">Projects</a>
            <a href="#">Freelancers</a>
            <a href="@Url.Action("ChatPage", "Main")">Chat's</a>
           
        </nav>
        <div class="header-actions">
            <div class="user-profile">
                <img src="/api/placeholder/40/40" alt="" class="user-avatar">
                <span class="user-nickname">Johnny Sins</span>
            </div>
        </div>
    </div>
</header>
