
@{
    ViewBag.Title = "_Header";
}

<header>
    <h1>taskore. //</h1>
    <div class="auth-buttons">
        <a href="#" class="sign-in">About Us</a>
        <a href="#" class="sign-in">Contact</a>
        <a href="#" class="sign-in">Privacy</a>
        <a href="#" class="sign-in">Terms of Service</a>
    </div>
</header>