@using System.Web.Optimization
@{
    ViewBag.Title = "_Header";
}
@Styles.Render("~/Content/css")

<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="/api/placeholder/50/50" alt="Taskore Logo">
        </div>
        <nav class="nav-menu">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Freelancers</a>
           
        </nav>
        <div class="header-actions">
            <a href="#" class="header-cta">Get Started</a>
        </div>
    </div>
</header>