@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

</head>
<body>
    @Scripts.Render("~/bundles/sitejs")
    @RenderBody() <!-- Aici se va încărca conținutul fiecărui View -->

</body>
</html>



