@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    @RenderBody() <!-- Aici se va încărca conținutul fiecărui View -->

</body>
</html>



